{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $baguette := resources.Get "js/baguetteBox.js"}}
{{ $js := slice $menu $theme $main | resources.Concat "js/bundle.js" }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
{{ $secureBaguette := $baguette | resources.Fingerprint "sha512"}}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" async></script>
<script type="text/javascript" src="{{ $secureBaguette.RelPermalink }}" integrity="{{ $secureBaguette.Data.Integrity }}" async defer></script>
{{ range $val := $.Site.Params.customJS }}
	{{ if gt (len $val) 0 }}
		<script src="{{ $val }}"></script>
	{{ end }}
{{ end }}
{{- if .Site.GoogleAnalytics }}
<!-- Google Analytics -->
<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('set', 'anonymizeIp', true);
	ga('create', '{{.Site.GoogleAnalytics}}', 'auto');
	var saveData = "unknown";
	if (navigator.connection != undefined && navigator.connection.saveData != undefined) {
		if (navigator.connection.saveData) {
			saveData = "on";
		}
		else {
			saveData = "off";
		}
	}
	var userAgent = "unknown";
	if (navigator.userAgent != undefined) {
		userAgent = navigator.userAgent;
	}
	ga('set', 'dimension1', saveData);
	ga('set', 'dimension2', userAgent);
	ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
{{- end}}
